<main class="flex-fills-login-wrapper">
  <div class="container d-flex flex-column">
    <div class="row vh-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell">
          <div class="text-center mb-6 mt-4">
            <a class="sidebar-brand" routerLink="/auth/login">
              <img src="/assets/img/logo.png" alt="logo flex fills" />
            </a>
          </div>
          <div class="card flex-fills-card">
            <div class="card-header"></div>
            <div class="card-body">
              <h1 class="mt-2 card-body-title">Open Account</h1>
              <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                  <input
                    type="text"
                    formControlName="name"
                    placeholder="Name"
                    class="form-control form-control-lg"
                    [ngClass]="{
                      'is-invalid': submitted && getform['name'].errors
                    }"
                  />
                  <div
                    *ngIf="
                      submitted &&
                      (getform['name'].errors || getform['name'].touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        getform['name'].errors
                          ? getform['name'].errors['required']
                          : false
                      "
                    >
                      Name is required
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input
                    type="text"
                    formControlName="email"
                    placeholder="Email"
                    class="form-control form-control-lg"
                    [ngClass]="{
                      'is-invalid': submitted && getform['email'].errors
                    }"
                  />
                  <div
                    *ngIf="
                      submitted &&
                      (getform['email'].errors || getform['email'].touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        getform['email'].errors
                          ? getform['email'].errors['required']
                          : false
                      "
                    >
                      Email is required
                    </div>
                    <div
                      *ngIf="
                        getform['email'].errors
                          ? getform['email'].errors['email']
                          : false
                      "
                    >
                      Email must be a valid email address
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input
                    type="password"
                    formControlName="password"
                    placeholder="Password"
                    class="form-control form-control-lg"
                    [ngClass]="{
                      'is-invalid': submitted && getform['password'].errors
                    }"
                  />
                  <div
                    *ngIf="
                      submitted &&
                      (getform['password'].errors ||
                        getform['password'].touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        getform['password'].errors
                          ? getform['password'].errors['required']
                          : false
                      "
                    >
                      Password is required
                    </div>
                    <div
                      *ngIf="
                        getform['password'].errors
                          ? getform['password'].errors['minlength']
                          : false
                      "
                    >
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input
                    type="password"
                    formControlName="confirmPassword"
                    placeholder="Confirm Password"
                    class="form-control form-control-lg"
                    [ngClass]="{
                      'is-invalid':
                        submitted && getform['confirmPassword'].errors
                    }"
                  />
                  <div
                    *ngIf="
                      submitted &&
                      (getform['confirmPassword'].errors ||
                        getform['confirmPassword'].touched)
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="
                        getform['confirmPassword'].errors
                          ? getform['confirmPassword'].errors['required']
                          : false
                      "
                    >
                      Password is required
                    </div>
                    <div
                      *ngIf="
                        getform['confirmPassword'].errors
                          ? getform['confirmPassword'].errors['matching']
                          : false
                      "
                    >
                      Confirm Password does not match
                    </div>
                    <div
                      *ngIf="
                        getform['confirmPassword'].errors
                          ? getform['confirmPassword'].errors['minlength']
                          : false
                      "
                    >
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label class="form-check form-check-inline">
                    <input
                      type="checkbox"
                      formControlName="acceptTerms"
                      class="form-check-input"
                      [ngClass]="{
                        'is-invalid': submitted && getform['acceptTerms'].errors
                      }"
                    />
                    <span class="form-check-label">
                      I agree to the
                      <a class="text-white" routerLink="#">Privacy Policy</a> &
                      <a class="text-white" routerLink="#">Teams of Service</a>
                    </span>
                  </label>
                  <div
                    *ngIf="submitted && getform['acceptTerms'].errors"
                    class="invalid-feedback"
                  >
                    Accept Terms is required
                  </div>
                </div>
                <div class="form-group mb-3 text-end">
                  <button class="btn btn-lg flex-fills-btn" type="submit">
                    Open Account
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
