<div class="table-responsive-sm table-orders-book fixed-header">
  <table class="table table-hover table-sm table-sm-sm fs-10 fw-light mb-0">
    <thead>
      <tr *ngIf="type === 'ask'">
        <th 
          class="fw-light"
          width="40%">
          Price
        </th>
        <th 
          class="fw-light"
          width="30%">
          Total
        </th>
        <th 
          class="fw-light"
          width="30%">
          Amount
        </th>
      </tr>
      <tr>
        <td colspan="3">{{ type === 'bid' ? 'Bids' : 'Asks' }}</td>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let obItem of data; let obIdx = index;" 
        [ngStyle]="{
          'background-image': calcPercentage(obItem),
          'transition': 'all 1s'
        }">
        <td width="40%">{{ obItem.price | numberWithSpace }}</td>
        <td width="30%">{{ obItem.total | numberWithSpace }}</td>
        <td width="30%">{{ obItem.amount | numberWithSpace }}</td>
      </tr>
    </tbody>
  </table>
</div>