<div class="container-fluid p-0 trade-container">
  <div class="row">
    <div class="col-lg-7 col-md-6 col-sm-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="section-bar d-flex justify-content-between align-items-center">
            <div class="title">ORDERS</div>
            <div class="options">
              <span 
                *ngFor="let ooItem of orderOptionList; let ooIdx = index;" 
                [ngClass]="{
                  'active': ooItem === orderOption
                }"
                (click)="generateOrdersData(ooItem)">
                {{ ooItem }}
              </span>
            </div>
          </div>
          <div class="table-responsive-sm orders fixed-header">
            <table class="table-orders table table-hover table-sm table-sm-sm fs-10 fw-light mb-0">
              <thead *ngIf="orderOption === 'Exchange Orders'">
                <tr>
                  <th class="fw-light">Time Placed</th>
                  <th class="fw-light">Excahnge Order ID</th>
                  <th class="fw-light">Client ID</th>
                  <th class="fw-light">Pair</th>
                  <th class="fw-light">Exchange</th>
                  <th class="fw-light">Type</th>
                  <th class="fw-light">Side</th>
                  <th class="fw-light">Status</th>
                  <th class="fw-light">Price Requested</th>
                  <th class="fw-light">Amount Requested</th>
                  <th class="fw-light">Price Filled</th>
                  <th class="fw-light">Filled Amount</th>
                  <th class="fw-light"></th>
                </tr>
              </thead>
              <thead *ngIf="orderOption === 'Orders'">
                <tr>
                  <th class="fw-light">Time Placed</th>
                  <th class="fw-light">Request ID</th>
                  <th class="fw-light">Client ID</th>
                  <th class="fw-light">Pair</th>
                  <th class="fw-light">Type</th>
                  <th class="fw-light">Side</th>
                  <th class="fw-light">Status</th>
                  <th class="fw-light">Price Requested</th>
                  <th class="fw-light">Amount Requested</th>
                  <th class="fw-light">Price Filled</th>
                  <th class="fw-light">Filled Amount</th>
                  <th class="fw-light"></th>
                </tr>
              </thead>
              <thead *ngIf="orderOption === 'Trades'">
                <tr>
                  <th class="fw-light">Time Executed</th>
                  <th class="fw-light">Exchange Order ID</th>
                  <th class="fw-light">Client ID</th>
                  <th class="fw-light">Exchange</th>
                  <th class="fw-light">Pair</th>
                  <th class="fw-light">Type</th>
                  <th class="fw-light">Side</th>
                  <th class="fw-light">Price Filled</th>
                  <th class="fw-light">Filled Amount</th>
                </tr>
              </thead>
              <thead *ngIf="orderOption === 'Balances'">
                <tr>
                  <th class="fw-light">Client ID</th>
                  <th class="fw-light">Asset</th>
                  <th class="fw-light">Locked</th>
                  <th class="fw-light">Balance</th>
                  <th class="fw-light">Available</th>
                </tr>
              </thead>
              <tbody *ngIf="orderOption === 'Exchange Orders'">
                <tr *ngFor="let oItem of orderList; let oIdx = index;">
                  <td 
                    [ngClass]="{
                      'positive': oItem.cStatus,
                      'negative': !oItem.cStatus
                    }">{{ oItem.timePlaced }}</td>
                  <td>{{ oItem.exchangeOrderId }}</td>
                  <td>{{ oItem.clientId }}</td>
                  <td>{{ oItem.pair }}</td>
                  <td>{{ oItem.exchange }}</td>
                  <td>{{ oItem.type }}</td>
                  <td>{{ oItem.side }}</td>
                  <td>{{ oItem.status }}</td>
                  <td>{{ oItem.priceRequested | numberWithSpace }}</td>
                  <td>{{ oItem.amountRequested | numberWithSpace }}</td>
                  <td>{{ oItem.priceFilled | numberWithSpace }}</td>
                  <td>{{ oItem.filledAmount | numberWithSpace }}</td>
                  <td>
                    <div class="table-controls">
                      <input 
                        type="checkbox" 
                        class="form-check-input" 
                        id="customCheck1" 
                        aria-label="tableCheckBox">
                      <button 
                        class="btn btn-with-icon">
                        <i data-feather="edit-2"></i>
                      </button>
                      <button 
                        class="btn btn-with-icon">
                        <i data-feather="x-circle"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="orderOption === 'Orders'">
                <tr *ngFor="let oItem of orderList; let oIdx = index;">
                  <td 
                    [ngClass]="{
                      'positive': oItem.cStatus,
                      'negative': !oItem.cStatus
                    }">{{ oItem.timePlaced }}</td>
                  <td>{{ oItem.requestId }}</td>
                  <td>{{ oItem.clientId }}</td>
                  <td>{{ oItem.pair }}</td>
                  <td>{{ oItem.type }}</td>
                  <td>{{ oItem.side }}</td>
                  <td>{{ oItem.status }}</td>
                  <td>{{ oItem.priceRequested | numberWithSpace }}</td>
                  <td>{{ oItem.amountRequested | numberWithSpace }}</td>
                  <td>{{ oItem.priceFilled | numberWithSpace }}</td>
                  <td>{{ oItem.filledAmount | numberWithSpace }}</td>
                  <td>
                    <div class="table-controls">
                      <input 
                        type="checkbox" 
                        class="form-check-input" 
                        id="customCheck1" 
                        aria-label="tableCheckBox">
                      <button 
                        class="btn btn-with-icon">
                        <i data-feather="edit-2"></i>
                      </button>
                      <button 
                        class="btn btn-with-icon">
                        <i data-feather="x-circle"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="orderOption === 'Trades'">
                <tr *ngFor="let oItem of orderList; let oIdx = index;">
                  <td 
                    [ngClass]="{
                      'positive': oItem.cStatus,
                      'negative': !oItem.cStatus
                    }">{{ oItem.timeExecuted }}</td>
                  <td>{{ oItem.exchangeOrderId }}</td>
                  <td>{{ oItem.clientId }}</td>
                  <td>{{ oItem.exchange }}</td>
                  <td>{{ oItem.pair }}</td>
                  <td>{{ oItem.type }}</td>
                  <td>{{ oItem.side }}</td>
                  <td>{{ oItem.priceFilled | numberWithSpace }}</td>
                  <td>{{ oItem.filledAmount | numberWithSpace }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="orderOption === 'Balances'">
                <tr *ngFor="let oItem of orderList; let oIdx = index;">
                  <td>{{ oItem.clientId }}</td>
                  <td>{{ oItem.asset }}</td>
                  <td>{{ oItem.locked }}</td>
                  <td>{{ oItem.balance }}</td>
                  <td>{{ oItem.available }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="section-bar chart-strip d-flex align-items-center">
            <div class="title">
              CHART
            </div>
            <div class="options d-flex justify-content-between align-items-center">
              <div class="p-left">
                <img 
                  class="currency-logo" 
                  src="assets/img/currency/btc_icon.png" 
                  alt="currency logo">
                <h5 class="currency-name">{{ marketSelected }}</h5>
                <div class="chart-currency-info">i</div>
              </div>
              <div class="p-right">
                <a
                  class="new-tab" 
                  href="/trade/asset-view"
                  target="_blank">
                  VIEW ANOTHER ASSET
                </a>
              </div>
            </div>
          </div>
          <div class="section-bar chart-changes d-flex justify-content-center align-items-center">
            <div class="p-center">
              <div class="currency-value currency-value-lg">
                48,549
              </div>
              <div class="currency-change change-positive">
                1,799.00 (3.80%)
              </div>
              <div class="currency-labeled-value">
                <div class="currency-value">
                  49 250.00
                </div>
                <div class="currency-value-label">
                  Height
                </div>
              </div>
              <div class="currency-labeled-value">
                <div class="currency-value">
                  46 750.00
                </div>
                <div class="currency-value-label">
                  Low
                </div>
              </div>
              <div class="currency-labeled-value">
                <div class="currency-value">
                  2 610.00
                </div>
                <div class="currency-value-label">
                  24h Vol
                </div>
              </div>
            </div>
          </div>
          <div 
            class="chart-placeholder p-0 mb-2"
            [ngStyle]="{'height': '500px'}">
            <app-trading-view-chart></app-trading-view-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="row form-table-side">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="section-bar d-flex justify-content-between align-items-center">
            <div class="title">
              TRADES ({{ marketSelected }})
            </div>
            <div class="options">
              <span 
               [ngStyle]="{
                 'color': 'white'
               }">
                TOP {{ maxNoOfTradeToDisplay }}
              </span>
            </div>
          </div>
          <div class="table-responsive-sm trades fixed-header mb-2">
            <table class="table-trades table table-hover table-sm table-sm-sm fs-10 fw-light mb-0">
              <thead>
                <tr>
                  <th class="fw-light">Time</th>
                  <th class="fw-light">Price</th>
                  <th class="fw-light">Amount</th>
                  <th class="fw-light">Market</th>
                </tr>
              </thead>
              <tbody>
                <tr 
                  [ngClass]="{
                    'table-success': ttItem.success,
                    'table-danger': !ttItem.success
                  }"
                  *ngFor="let ttItem of getTradeList(); let ttIdx = index;">
                  <td>{{ ttItem.time }}</td>
                  <td>{{ ttItem.price | numberWithSpace }}</td>
                  <td>{{ ttItem.amount | numberWithSpace }}</td>
                  <td>{{ ttItem.market }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="section-bar d-flex justify-content-between align-items-center">
            <div class="title">ORDER BOOKS ({{ marketSelected }})</div>
            <div class="options">
            </div>
          </div>
          <app-orders-book
            [data]="getOrdersBookAsksList()"
            [type]="'ask'"
            [ngStyle]="{'width': '50%'}"
          ></app-orders-book>
          <app-orders-book
            [data]="getOrdersBookBidsList()"
            [type]="'bid'"
            [ngStyle]="{'width': '50%'}"
          ></app-orders-book>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="section-bar d-flex justify-content-between align-items-center mb-2">
            <div class="title">ORDER FORMS</div>
            <div class="options">
            </div>
          </div>
          <div class="trade-controls mb-2">
            <div class="radio-wrapper d-flex justify-content-between align-items-center">
              <div 
                class="radio-btn"
                *ngFor="let ofItem of orderFromList; let ofIdx = index">
                <input 
                  type="radio"
                  [value]="ofItem"
                  name="orderFrom"
                  [(ngModel)]="orderFrom"/>
                <div>{{ ofItem }}</div>
              </div>
            </div>
          </div>
          <h4 class="text-center fs-12 fw-normal mb-1">
            LIMIT PRICE
          </h4>
          <div class="mb-2">
            <div class="input-group input-spinner">
              <button 
                class="btn" 
                type="button"
                (click)="calcLimit(-1)">
                <i data-feather="minus"></i>
              </button>
              <input 
                class="form-control" 
                type="text" 
                [value]="limitPrice"
                (keyup)="onChangeLimitPrice($event)"
                ([ngModel])="limitPrice">
              <button 
                class="btn" 
                type="button"
                (click)="calcLimit(1)">
                <i data-feather="plus"></i>
              </button>
            </div>
          </div>
          <div class="radio-wrapper mb-2 flex-wrap">
            <div 
              class="radio-btn"
              *ngFor="let pItem of percentList; let pIdx = index">
              <input 
                type="radio"
                [value]="pItem"
                name="percent"
                [(ngModel)]="percent"/>
              <div>{{ pItem }}%</div>
            </div>  
          </div>
          <div class="vstack mb-2">
            <button 
              class="btn flex-fills-btn mb-2" 
              type="button"
              (click)="sell()">
              Sell
            </button>
            <div class="text-center fs-10 fw-light mb-2">
              56 345.43 USDT
            </div>
            <button 
              class="btn flex-fills-btn mb-2" 
              type="button"
              (click)="buy()">
              Buy
            </button>
            <div 
              class="text-center fs-10 fw-light">
              57 742.03 USDT
            </div>
          </div>
          <div class="section-bar d-flex justify-content-between align-items-center mb-2">
            <div class="title">MARKETS</div>
            <div class="options">
            </div>
          </div>
          <div class="form-input-search form-input-search-sm mb-2">
            <svg
              width="16" 
              height="16" 
              viewBox="0 0 16 16" 
              fill="none" 
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.624941 7.0834C0.624941 10.6594 3.47719 13.5418 6.9755 13.5418C10.4738 13.5418 13.326 10.6594 13.326 7.0834C13.326 3.50745 10.4738 0.625 6.9755 0.625C3.47719 0.625 0.624941 3.50745 0.624941 7.0834Z"
                stroke="#7C7587" stroke-width="1.25" />
              <path
                d="M10.9502 12.1189C10.704 11.8769 10.6976 11.4782 10.9358 11.2283C11.174 10.9785 11.5666 10.9722 11.8127 11.2141L10.9502 12.1189ZM15.2034 14.5475C15.4496 14.7895 15.4561 15.1882 15.2179 15.438C14.9797 15.6879 14.5871 15.6942 14.3409 15.4522L15.2034 14.5475ZM11.8127 11.2141L15.2034 14.5475L14.3409 15.4522L10.9502 12.1189L11.8127 11.2141Z"
                fill="#7C7587" />
            </svg>
            <input 
              class="form-control form-control-lg" 
              type="text" 
              name="searchKey" 
              placeholder="Search"
              [(ngModel)]="searchKey" />
          </div>
          <div class="table-responsive-sm markets fixed-header">
            <table class="table table-hover table-sm table-sm-sm fs-10 fw-light mb-0">
              <thead>
                <tr>
                  <th class="fw-light">Pair</th>
                  <th class="fw-light">Volume</th>
                  <th class="fw-light">Price</th>
                  <th class="fw-light">24H Cng</th>
                </tr>
              </thead>
              <tbody>
                <tr 
                  *ngFor="let mItem of getMarketList(); let mIdx = index;"
                  [ngClass]="{
                    'tr-selected': marketSelected === mItem.pair
                  }"
                  (click)="marketSelected = mItem.pair">
                  <td>{{ mItem.pair }}</td>
                  <td>{{ mItem.volume | numberWithSpace }}</td>
                  <td>{{  mItem.price ? (mItem.price | numberWithSpace) : '' }}</td>
                  <td [ngClass]="{
                    'td-success': mItem.changeStatus > 0,
                    'td-danger': mItem.changeStatus < 0 
                  }">
                    {{ mItem.changeStatus > 0 ? '+' : '-' }}{{ mItem.change }}%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>