@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: normal;
  src: local('SF Pro Display'), url('../../fonts/SFPRODISPLAYREGULAR.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF Pro Display Medium'), url('../../fonts/SFPRODISPLAYMEDIUM.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF Pro Display Bold'), url('../../fonts/SFPRODISPLAYBOLD.woff') format('woff');
}
