.clearing-dashboard {
    .radio-wrapper-grid {
        grid-template-columns: repeat(2, 1fr);
        height: 39px;
    }

    .date-picker {
        max-width: 195px;
    }
}

@media screen and (max-width: 1440px) {

}