// min vw/vh
.min-vw-50 { min-width: 50vw !important; }
.min-vh-50 { min-height: 50vh !important; }

//  vw/vh
.vw-50 { width: 50vw !important; }
.vh-50 { height: 50vh !important; }

// width
.mw-100 { min-width: 100px !important; }
.mw-150 { min-width: 150px !important; }

// height
.mh-100 { min-height: 100px !important; }
.mh-150 { min-height: 150px !important; }
