<div class="row mb-4">
  <div class="col-12 col-lg-10">
    <div class="form-field-container">
      <div class="form-field">
        <div class="form-field-label">Address</div>
        <div class="form-field-value">{{ idInfo.address }}</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-10">
    <div class="form-field-container">
      <div class="form-field">
        <div class="form-field-label">Date of Birth</div>
        <div class="form-field-value">{{ idInfo.dateOfBirth }}</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-10">
    <div class="form-field-container">
      <div class="form-field">
        <div class="form-field-label">Nationality</div>
        <div class="form-field-value">{{ idInfo.nationality }}</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-10">
    <div class="form-field-container">
      <div class="form-field">
        <div class="form-field-label">Country of Residence</div>
        <div class="form-field-value">{{ idInfo.countryOfResidence }}</div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <h4 class="fs-16 mb-3">Documents</h4>
  <div class="col-12 col-lg-10">
    <div class="form-field-container">
      <div class="form-field">
        <div class="form-field-label">Passport</div>
        <div class="form-field-value">{{ idInfo.passport.link !== '' ? 'Uploaded' : '' }}</div>
      </div>
    </div>
    <div class="form-field-container">
      <div class="form-field">
        <div class="form-field-label">Bank Statement</div>
        <div class="form-field-value">{{ idInfo.bankStatement.link !== '' ? 'Uploaded' : '' }}</div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-12">
    <div class="footer-btns">
      <button 
        class="btn btn-lg flex-fills-btn"
        (click)="onEditID()">
        Edit
      </button>
    </div>
  </div>
</div>